<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nantes_sqli.rhchain">

    <uses-sdk
        android:maxSdkVersion="24"
        android:minSdkVersion="21"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".RhchainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_rhchain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SQLITheme">
        <activity android:name=".activities.MainActivity"></activity>
        <activity android:name=".activities.SurveyActivity" />
        <activity android:name=".activities.CreateUserActivity" />
        <activity android:name=".activities.UserRegistrationActivity" />

        <activity android:name=".activities.ResultatsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
